venv/
node_modules/
__pycache__/
.env
organizations/
*.log
*.pem
*.crt
*.key
fabric/wallet/
/fabric/
gateway-api-node/fabric/users/
gateway-api-node/fabric/connection-org1.json
gateway-api-node/data/*
!gateway-api-node/data/.gitkeep

gateway-api-node/fabric/
*.sqlite
*.sqlite-shm
*.sqlite-wal